<template name="rockPaperScissors">
    <!-- Root -->
    <div class="row">
    	<div class="col-lg-12">
		    <!-- Current Game -->
    		<h3>Username: {{current_userid}} {{userIdentity}}</h3>
				<br/>
				<br/>
            <h3>Game: </h3>
            <p>
                Game ID: {{current_game._id}}
                <br/>
                Player One: {{current_game.PlayerOne}}
                <br/>
                Player One's Move: {{current_game.PlayerOnesMove}}
                <br/>
                Player Two: {{current_game.PlayerTwo}}
                <br/>
                Player Two's Move: {{current_game.PlayerTwosMove}}
                <br/>
            </p>
            <form role="form" class="move_selection">
                <div class="radio">
                    <label><input type="radio" name="selected_move" value="rock">Rock</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="selected_move" value="paper">Paper</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="selected_move" value="scissors">Scissors</label>
                </div>
                <input id="play_move" type="submit" value="Play Move" class="margin-clear submit-button btn btn-primary">
            </form>
    	</div>
    </div>
</template>
