<template name="carousel">

    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>My name is<br/><span style = "color: #002caa">Marcus Quettan</span></h1>
                        <!-- <p></p>
                        <p>
                            <a class="btn btn-lg btn-primary page-scroll" href="#features" role="button">hire me!</a>
                        </p> -->
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one parallax"></div>

            </div>
    </div>
  </div>
</template>
