<template name="features">

    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-3">
                <h2>Embedded Development</h2>
                <p>I have had a long career in embedded development using C/C++ on single board computers running real time operating systems such as Green Hills Integrity 178 and LynxOS-178.  Have a cool idea?  Need a consultant/contract hire?  Let me help you!</p>
                <p><a class="navy-link page-scroll" href="#features" role="button">Details &raquo;</a></p>
            </div>
            <div class="col-sm-3">
                <h2>Web Development</h2>
                <p>Need a responsive modern website?  I will create your web presence using modern programing practices to create a dynamic web page which looks great in full hd and on your phone!</p>
                <p><a class="navy-link page-scroll" href="#features" role="button">Details &raquo;</a></p>
            </div>
            <div class="col-sm-3">
                <h2>Voice Overs</h2>
                <p>Let me be the voice to your brand.  Follow the link to listen to my demonstrations.  If you like what you hear, let me know!</p>
                <p><a class="navy-link page-scroll" href="#features" role="button">Details &raquo;</a></p>
            </div>
            <div class="col-sm-3">
                <h2>Photography</h2>
                <p>To be cliche, a picture is worth 1000 words.  It has been a passion of mine to be able to express my creativity through photography and I would love to be your photographer.</p>
                <p><a class="navy-link page-scroll" href="#features" role="button">Details &raquo;</a></p>
            </div>
        </div>
    </section>

</template>
