<template name="features">
    <section id="features" class="section-padding text-center gray-bg">
        <div class="container">
            <div class="row features-wrapper">
                <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                    <div class="icon-top icon-black"><i class="fa icon-basic-anchor"></i></div>
                    <h5 class="features-title">We’re Creative</h5>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
                    <div class="icon-top icon-black"><i class="icon icon-basic-alarm"></i></div>
                    <h5 class="features-title">TWe have magic</h5>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
                    <div class="icon-top icon-black"><i class="icon icon-basic-globe"></i></div>
                    <h5 class="features-title">Why we do it</h5>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.</p>
                </div>
            </div>
        </div>
    </section>
</template>
